.u-section-1-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 60px 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/kneejoint.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 619px;
  pointer-events: auto;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.375rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 16px 0 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 29px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 379px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-1-2 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 60px 0;
}

.u-section-1-2 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/does-running-damage-the-joints.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 611px;
  pointer-events: auto;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px 58px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 2px;
}

.u-section-1-2 .u-text-2 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 20px 2px 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    min-height: 379px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-block-238b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-238b-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
}

.u-block-238b-4 {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
}